/*body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #8b0000;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
}

.banner {
  background: #f2f2f2;
  padding: 50px;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 500px;
}

.content {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  nav {
    display: block;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }
}

.content {
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  background: #8b0000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}*/
body {
  font-family: Arial, sans-serif;
}

header {
  background: #8b0000;
  color: white;
  padding: 15px;
  text-align: center;
}

.content {
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #8b0000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* WhatsApp Button */
.whatsapp {
  display: block;
  margin: 20px;
  padding: 12px;
  background: #25D366;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}